@(trip: models.Trip)(implicit assetsFinder: AssetsFinder)

@main("Hello", assetsFinder) { } {
    @partials.menu()

    <section class="jumbotron text-center">
        <div class="container">
        <h1 class="jumbotron-heading">Aidez-nous à voyager!</h1>
        <p class="lead text-muted">Pas besoin de vaisselle ni de mobiblier, nous sommes déjà équipés. Nous vous proposons de participer au financement de notre voyage de noces.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Nous offrir un cadeau</a>
            <a href="#@trip.steps(0).slug" class="btn btn-secondary my-2">Voir notre parcours</a>
        </p>
        </div>
    </section>
    
    <div id="app" class="container content">
        <div class="row">
            <div class="col-sm-12">
                <div class="cards">
                @for((step, index) <- trip.steps.zipWithIndex) {
                    <div id="@{"card" + index}" class="card">
                        <div class="card-header">
                            <a id="@step.slug"></a>
                            <h2 class="card-title">@{index + 1}. @step.name</h2>
                        </div>
                        <img class="card-img-top" src="@assetsFinder.path("images/" + step.pictures(0))" />
                        <div class="card-body">
                            <div class="card-text">
                                @Html(step.description)
                            </div>

                            <h3>Gallerie</h3>
                            @defining("gallery-" + index) { galleryId =>
                                <div id="@galleryId" class="container">
                                    <a href="#" title="map" class="@galleryId item">
                                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@step.name&zoom=5&size=600x300&maptype=roadmap&markers=color:red%7C@step.location.lat,@step.location.lng&key=AIzaSyBxkog24mVKJ0_VO9qpRcPSxLy2yGX8G_I" alt="Card image cap">
                                    </a>
                                    @for(picture <- step.pictures) {
                                        <a href="@{routes.TripController.step(step.slug) + "#" + picture}" class="@galleryId">
                                            <img src="@assetsFinder.path("images/" + picture)">
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
    <script>
        var galleryIds = [
            @for((step, index) <- trip.steps.zipWithIndex) {
                "@{"#gallery-" + index}",
            }
        ];
    </script>
} { }